.container {
    background: linear-gradient(to right,#2E51A2,#1B7AC2);
    min-height: 100vh;
    padding-bottom: 40px;
}

.input-container {
    text-align: center;
    padding: 60px 0 60px 0;
    position: fixed;
    width: 100%;
    background: linear-gradient(to right,#2E51A2,#1B7AC2);
}

.input {
    background: rgba(255,255,255,.05);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: 1px solid rgba(255,255,255,.4);
    border-top: 1px solid rgba(255,255,255,.4);
    border-bottom: 1px solid rgba(255,255,255,.4);
    border-right: transparent;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    outline: 0;
    width: 55%;
}

.button {
    background: rgba(255,255,255,0);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: 1px solid rgba(255,255,255,.4);
    border-top: 1px solid rgba(255,255,255,.4);
    border-bottom: 1px solid rgba(255,255,255,.4);
    border-left: transparent;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    outline: 0;
    cursor: pointer;
}

.narutos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    text-align: center;
    width: 60%;
    margin: auto;
    align-items: center;
    padding-top: 200px;
}

.image {
    width: 225px;
    height: 300px;
    border-radius: 10px 10px 0 0; 
}

.title {
    background: white;
    padding: 15px;
    margin-top: -5px;
    border-radius: 0 0 10px 10px; 
}

.load-more {
    background: white;
    text-align: center;
    width: 100px;
    margin: auto;
    margin-top: 50px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    color: #2E51A2;
}

.loader-container {
    position: absolute;
    top: 50%;
    left: 48%;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    margin: auto;
}

.load-more-loader {
    width: 15px;
    height: 15px;
}

.no-data-found {
    color: white;
    position: absolute;
    top: 50%;
    left: 45%;
}


/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

input::-webkit-input-placeholder {/* Chrome/Opera/Safari/Edge */
    color: white;
    opacity: 0.5;
}

input::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
   opacity: 0.5;
}

input:-ms-input-placeholder {/* IE 10+ */
    color: white;
    opacity: 0.5;
}
